<!DOCTYPE html>
<html lang="ko" style="min-width:300px;">
  <head>
    <meta charset="utf-8">
    <title>자가진단 다크모드</title>
  
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body>
    <article>
        <h1>
            🌙 자가진단 다크모드
        </h1>
        <p>당신의 눈은 소중합니다.</p>
        <a href="https://github.com/wonderlandpark/self-diagnosis-darkmode">Github</a>

        <a href="https://github.com/wonderlandpark/self-diagnosis-darkmode/blob/master/LICENSE">MIT License</a>

        <a href="https://github.com/wonderlandpark/self-diagnosis-darkmode/blob/master/LICENSE">Developers</a>
        
    </article>
  </body>
</html>